@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Eror";
}

<h1 class="text-danger">Eror</h1>
<h2 class="text-danger">Terdapat Kesalahan Pada Aplikasi</h2>
<div>
    <p>
        <b>Exception:</b> @Model.Exception.Message<br />
        <b>Controller:</b> @Model.ControllerName<br />
        <b>Action:</b> @Model.ActionName <br />
        <b>Stack Trace:</b> @Model.Exception.StackTrace
    </p>
</div>