@{
    ViewBag.Title = "Pengembang Aplikasi";
}
<link rel="stylesheet" type="text/css" href="~/Content/font-awesome.min.css" />
<h2>@ViewBag.Title</h2>

<p style="text-align: center;">
    <img style="width: 200px;" src="~/Content/Images/ardevmatika.png" />
    <br />
    <a href="https://twitter.com/ardevmatika" target="_blank">
        <span class="fa-stack" style="color: black;">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x"></i>
        </span>
    </a>
    <a href="https://www.instagram.com/ardevmatika/" target="_blank">
        <span class="fa-stack" style="color: black;">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-instagram fa-stack-1x"></i>
        </span>
    </a>
    <a href="https://facebook.com/ardevmatika/" target="_blank">
        <span class="fa-stack" style="color: black;">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x"></i>
        </span>
    </a>
    <a href="mailto:ardevmatika@gmail.com" target="_blank">
        <span class="fa-stack" style="color: black;">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-google fa-stack-1x"></i>
        </span>
    </a>
    <br />
    <strong>Email:</strong> <a href="mailto:ardevmatika@gmail.com" target="_blank">ardevmatika@gmail.com</a><br />
    <strong>Repository:</strong> <a href="https://github.com/ardevmatika/ar-sps" target="_blank">https://github.com/ardevmatika/ar-sps</a><br />
    <strong>Website:</strong> <a href="https://ardevmatika.com" target="_blank">https://ardevmatika.com</a><br />
</p>