@{
    ViewBag.Title = "Halaman Utama";
}

<div class="jumbotron">
    <h1>AR-SPS</h1>
    <p class="lead">AR-SPS (Sistem Pembayaran Sekolah) Adalah aplikasi berbasis web untuk memproses, mengelola data pembayaran sekolah.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Mudah Digunakan</h2>
        <p>
            Antar muka yang di desain berdasarkan pengelompokan menu: Proses, Informasi, Laporan, Master Data dan Pengaturan, yang memudahkan pengguna
            dalam menentukan operasi-operasi aplikasi yang akan digunakan.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Cepat & Ringan</h2>
        <p>
            Tampilan dan alur penggunaan aplikasi yang disederhanakan tetapi tetap mengedepankan kehandalan dalam mengelola data adalah
            prinsip yang diterapkan di AR-SPS yang terbukti meningkatkan performa aplikasi.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Keamanan</h2>
        <p>
            Keamanan merupakan faktor yang sangat penting untuk setiap aplikasi web, AR-SPS dibagun menggunakan teknologi ASP .NET MVC disertai dengan
            hash string untuk password login aplikasinya yang tentunya dengan tingkat keamanan yang sudah tidak diragukan lagi.
        </p>
    </div>
</div>