
@{
    ViewBag.Title = "Akses Melalui Jaringan Tidak Diijinkan";
}

    <h2>Akses Melalui Jaringan Tidak Diijinkan</h2>
<p>
    Level lisensi yang terpasang adalah LEVEL_1, dengan lisensi level ini aplikasi hanya bisa digunakan melalui lokal akses (dari PC yang terinsatall aplikasi ini)
</p>
<p>
    Untuk mengakses aplikasi melalui jaringan, silahkan tingkatkan lisensi dengan minimum lisensi LEVEL_2.
</p>

